body {
  font-family: 'Inter', sans-serif;
  background-image: url('imageTodolist.jpg');
  background-size: cover;
}

header {
  background: rgba(0, 0, 0, 0.5);
}

#searchInput {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0;
  border-radius: 50px;
  width: 150px;
}

.column {
  background: rgba(0, 128, 128, 0.7);
}

.column h2 span {
  font-size: 1.5rem;
  color: #f0f0f0;
  margin-left: 0.5rem;
}

.task {
  background: #333;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
}

.task[data-priority="P1"] {
  border-left: 7px solid red;
}

.task[data-priority="P2"] {
  border-left: 7px solid orange;
}

.task[data-priority="P3"] {
  border-left: 7px solid #00FF00;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

}

.modal-content {
  background: rgba(0, 128, 128, 0.885) !important;
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  body {
    font-size: 0.9rem;
  }

  #searchInput {
    width: 100%;
  }
}