body {
    font-family: 'Inter', sans-serif;
    background-image: url('imageTodolist.jpg');
    background-size: cover;
  }
  
  header {
    background: rgba(0, 0, 0, 0.5);
  }

  #addTaskButton {
    background-color: #ffffff;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  #searchInput {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0;
    border-radius: 50px;
  }

  .column {
    width: 30%;
    background: rgba(0, 128, 128, 0.7);
    /* padding: 1rem;
    border-radius: 10px; */
  }

  .task {
    background: #333;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
  }
  
  .task[data-priority="P1"] {
    border-left: 5px solid red;
  }
  
  .task[data-priority="P2"] {
    border-left: 5px solid orange;
  }
  
  .task[data-priority="P3"] {
    border-left: 5px solid #00FF00;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

  }
  
  .modal-content {
    background: rgba(0, 128, 128, 0.7);
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content input, 
.modal-content select, 
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background: #f0f0f0;
    color: #000;
    font-size: 1rem;
}
  
#cancelButton {
  background-color: #888;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  margin-right: 10px;
  cursor: pointer;
}
  
#addTask {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}


/* Grand écran d'ordinateur (à partir de 1280px) */
/* @media (min-width: 1280px) {
    body {
        font-size: 1.2rem;
    }
    .task-board {
        justify-content: space-around;
    }
} */

/* Petit écran d'ordinateur (de 1024px à 1279px) */
/* @media (min-width: 1024px) and (max-width: 1279px) {
    body {
        font-size: 1.1rem;
    }
    .task-board {
        flex-direction: row;
    }
    .column {
        width: 90%;
        margin-bottom: 1rem;
    }
} */

/* Tablette (de 768px à 1023px) */
/* @media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 1rem;
    }
    .task-board {
        flex-direction: column;
        align-items: center;
    }
    .column {
        width: 90%;
        margin-bottom: 1rem;
    }
} */

/* Mobile (jusqu'à 767px) */
/* @media (max-width: 767px) {
    body {
        font-size: 0.9rem;
    }
    .task-board {
        flex-direction: column;
        align-items: center;
    }
    .column {
        width: 90%;
        margin-bottom: 1rem;
    }
} */
